.nota {
    color: white;
    background-color: rgb(1, 1, 60);
    width: 60%;
    -webkit-box-shadow: 2px 2px 0px 0px #000000;
    box-shadow: 2px 2px 0px 0px #000000;
    border:1px solid rgba(255, 255, 255, 0.178);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

.backbutton{
    background-color: rgb(49, 49, 251);
    transition: 0.2s;
}

.backbutton:hover{
    background-color: rgba(255, 255, 255, 0.778);
    color: black;
}
.deletebutton{
    background-color: rgba(255, 0, 0, 0.798);
    transition: 0.2s;
}


.deletebutton:hover{
    /* background-color: rgba(255, 255, 255, 0.778);
    color: black; */
    opacity: 0.7;
}