.splashscreen-container{
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(30, 30, 30);
}
.button-container{
    width: 100%;
}
.content-container{
    width: 100%;
    position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title{
    width: fit-content;
    font-size: 5rem;
    transition: 0.2s;
}
.title:hover{
    color: rgb(49, 49, 251);
}
.button{
    width: fit-content;
    font-weight: bold;
    font-size: 2rem;
}
.log-in{
    -webkit-box-shadow: 2px 2px 2px 1px #000000; 
box-shadow: 2px 2px 2px 1px #000000;
    color: black;
    background-color: white;
    transition: 0.2s;
}
.log-in:hover{
    color: white;
    background-color: rgb(49, 49, 251);
}
.register{
    -webkit-box-shadow: 2px 2px 2px 1px #000000; 
box-shadow: 2px 2px 2px 1px #000000;
    background-color: rgb(49, 49, 251);
    transition: 0.2s;
}
.register:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}